{% extends "base.html" %}

{% block content %}
    <div>
        <div>
            <h1 class="text-white"> Delete Task - {{ task.title }}</h1>
        </div>
        <form action="" method="post" class="mt-5 ">
            {% csrf_token %}
            <div class="rounded">
                <label class="text-white" for="">Title: </label>
                <input type="text" name="title" value="{{task.title}}" id="" disabled>
            </div>
            <input type="number" name="id" value="{{ task.id }}" hidden>

            <br><br>
           
            <button class="btn btn-danger" type="submit">Delete</button>

        </form>
    </div>
{% endblock content %}